/* defaults & box sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Georgia, serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    /* Main takes 75%, Sidebar takes 25% */
    min-height: 100vh;
}

/* Header Styles */
header {
    grid-column: 1 / -1;
    /* Spans across both columns */
}

.header-text {
    background-color: #333333;
    color: #ffffff;
    padding: 2.5rem 2rem 1.5rem 2rem;
    font-size: 1.25rem;
}

nav {
    background-color: #000000;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0.8rem 0;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    /* Nav items are sans-serif */
    font-size: 0.95rem;
}

/* Middle Content Rows */
main {
    background-color: #cccccc;
    color: #333333;
    padding: 1.5rem;
    grid-column: 1 / 2;
}

.right-sidebar {
    background-color: #ffffff;
    color: #333333;
    padding: 1.5rem;
    grid-column: 2 / 3;
}

/*  Footer Styles */
footer {
    grid-column: 1 / -1;
    /* Spans across both columns */
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 4rem 1rem;
    font-size: 1.25rem;
}